@charset "UTF-8";

body {
  margin: 0;
}

.tiramisu {
  &-body div {
    font-family: "monospace","Microsoft YaHei";
  }
  //  文字
  &-text {
    &-center {
      text-align: center;
    }
  }
  //  图标
  &-icon {
    font-size: 16px;
  }
}